#body{
    background: black;
}
#canvas1{
   
    background: black;
}


@media only screen and (max-width: 600px) {


    #canvas1 {

        max-width:300px;
        max-height: 300px;
    }


}